<?php if (!defined('GUEST')) die('go away'); ?>
<?php

$cfg_url_base = "http://example.org/"; // include a trailing slash - 'sso.php' will be appended as callback

$cfg_ccp_client_id = "id from CCP";
$cfg_ccp_client_secret = "secret from CCP";

$cfg_user_agent = "something for CCP to identify you";

$cfg_mumble_address = "example.org";
$cfg_mumble_port = "64738";
$cfg_mumble_version = "1.2.0";
$cfg_mumble_title = "Awesome Comms";
$cfg_mumble_channel = "Guests wait here";

$cfg_sql_url = 'mysql:host=localhost;dbname=mumble-sso-core';
$cfg_sql_user = 'root';
$cfg_sql_pass = 'root';

$cfg_core_host = 'core.braveineve.com';
$cfg_core_secret = 'secret';

$cfg_refresher_users = 60 * 60 * 6;
$cfg_refresher_alliances = 60 * 60 * 24;

?>
